html,body {
  width: 100%;
  height: 100%;
}
p, form, ol, ul, li, dl, dt, dd, h3 {
  list-style: none;
}
input {
  background-color: #ffffffff;
  border: none;
  border-radius: 22px;
  color: #000000ff;
  font-family: inherit;
  font-size: inherit;
  height: 100%;
  outline: 0;
  position: relative;
  width: 100%;
  z-index: 100;
}
::-webkit-scrollbar {
  width: 14px;
  height: 14px;
}
::-webkit-scrollbar-thumb, ::-webkit-scrollbar-track {
  border-radius: 999px;
  border: 5px solid transparent;
}
::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 0 5px rgba(0,0,0,.2);
  -webkit-box-shadow: 0 0 0 5px rgba(0,0,0,.2) inset;
}
.tab-content>.tab-pane {
  margin: 45px 0;
}
.dropdown-menu {
  min-width: 6rem;
}
.search-icon {
  background-image: url(../img/search_icon.svg);
  background-repeat: no-repeat;
}
.baidu-logo {
  background-image: url(../img/baidu_logo.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.bing-logo {
  background-image: url(../img/bing_logo.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.google-logo {
  background-image: url(../img/google_logo.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.integrating-search {
  position: absolute;
  top: -100px;
  left: 0;
  right: 0;
  bottom: 0;
  height: 180px;
  margin: auto;
  margin-left: 12px;
  margin-right: 12px;
  transition: 1s all;
}
.integrating-search #currentEngine {
  display: block;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.integrating-search input {
  background-color: transparent;
  padding: 12px 10px 12px 12px;
  border: 0;
  flex: 1;
  outline: none;
  font-size: 1.125rem;
  font: inherit;
  color: #000;
}
.integrating-search .search-box {
  width: 100%;
  max-width: 596px;
  background-color: transparent;
  font: normal 1rem "Segoe UI",Arial,Helvetica,Sans-Serif;
  padding-right: 15px;
  padding-left: 15px;
  box-shadow: 0 2px 4px rgba(0,0,0,.3);
  align-items: center;
  justify-content: flex-end;
  display: flex;
  border-radius: 24px;
  position: relative;
  background-color: #fff;
  margin: 0 auto;
}
.integrating-search.sug-show .search-box {
  border-radius: 24px 24px 0 0;
}
.integrating-search .search-icon {
  width: 24px;
  height: 24px;
  min-width: 24px;
}
.search-suggestions {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 99;
  display: none;
  transition: 1s all;
}
.sug-show .search-suggestions {
  display: block;
}
.search-suggestions {
  top: 100%;
  max-height: 480px;
  padding-left: 0px;
  border-radius: 0px 0px 24px 24px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px, rgba(0, 0, 0, 0.18) 0px 2px 4px 1px;
  overflow: auto;
  background-color: rgb(255, 255, 255);
}
.search-suggestions li {
  position: relative;
  display: flex;
  align-items: center;
  line-height: 32px;
  cursor: pointer;
}
.search-suggestions li:hover {
  background-color: #ececec;
}
.search-suggestions .suggest-icon {
  margin-left: 13px;
  transform: scale(0.8);
}
.search-suggestions #logo {
  position: absolute;
  right: 10px;
  top: 8px;
  width: 16px;
  height: 16px;
}
.search-suggestions #innerText {
  flex-grow: 1;
  overflow: hidden;
  margin-inline-end: 34px;
  margin-inline-start: 8px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@media (max-width: 768px) {
  .search-suggestions {
    max-height: 299px;
  }
}
