html,body {
  width: 100%;
  height: 100%;
}
p, form, ol, ul, li, dl, dt, dd, h3 {
  list-style: none;
}
input {
  background-color: #ffffffff;
  border: none;
  border-radius: 22px;
  color: #000000ff;
  font-family: inherit;
  font-size: inherit;
  height: 100%;
  outline: 0;
  position: relative;
  width: 100%;
  z-index: 100;
}
.tab-content>.tab-pane {
  margin: 45px 0;
}
#search-suggest {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 99;
  display: none;
}
/* google */
#nav-google input {
  padding-inline-end: 52px;
  padding-inline-start: 52px;
}
#nav-google .search-box {
  position: relative;
  border-radius: 22px;
  box-shadow: 0 1px 6px 0 #20212447;
  font-size: 16px;
  height: 44px;
  width: 561px;
  margin: 0 auto;
}
#nav-google #logo {
  forced-color-adjust: none;
  height: 92px;
  width: 272px;
  background-image: url(../img/google_logo.svg);
  margin: 0 auto;
  margin-bottom: 38px;
  z-index: 1;
}
#nav-google .search-icon {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
}
#search-suggest.google {
  background-color: #ffffffff;
  border-radius: 22px;
  box-shadow: 0 1px 6px 0 #20212447;
  margin-bottom: 8px;
  overflow: hidden;
  padding-left: 0;
}
#search-suggest.google li:first-child {
  margin-top: 44px;
}
#search-suggest.google li:last-child {
  margin-bottom: 8px;
}
#search-suggest.google li {
  align-items: center;
  cursor: default;
  display: flex;
  overflow: hidden;
  padding-bottom: 6px;
  padding-inline-end: 16px;
  padding-inline-start: 12px;
  padding-top: 6px;
  position: relative;
}
#search-suggest.google li:hover {
  background-color: #20212419;
}
#search-suggest.google li .suggest-icon {
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
}
#text-container {
  align-items: center;
  display: flex;
  flex-grow: 1;
  overflow: hidden;
  padding-inline-end: 8px;
  padding-inline-start: 8px;
  white-space: nowrap;
}
/* baidu */
#nav-baidu #logo {
  position: relative;
  z-index: 0;
  text-align: center;
}
#nav-baidu .search-box {
  width: 657px;
  margin: 0 auto;
  position: relative;
}
#nav-baidu .search-input {
  width: 544px;
  display: inline-block;
  vertical-align: bottom;
}
#nav-baidu .search-input input {
  height: 16px;
  width: 443px;
  padding: 12px 16px;
  font-size: 16px;
  margin: 0;
  vertical-align: top;
  outline: 0;
  box-shadow: none;
  border-radius: 10px 0 0 10px;
  border: 2px solid #c4c7ce;
  background: #fff;
  color: #222;
  overflow: hidden;
  box-sizing: content-box;
  -webkit-tap-highlight-color: transparent;
  padding-right: 87px;
}
#nav-baidu .search-input input:focus {
  border-color: #4e71f2;
}
#nav-baidu .submit-wrap {
  width: 108px;
  height: 44px;
  position: relative;
  z-index: 100;
  display: inline-block;
}
#nav-baidu .submit-wrap input {
  cursor: pointer;
  width: 108px;
  height: 44px;
  line-height: 45px;
  line-height: 44px\9;
  padding: 0;
  background: 0 0;
  background-color: #4e6ef2;
  border-radius: 0 10px 10px 0;
  font-size: 17px;
  color: #fff;
  box-shadow: none;
  font-weight: 400;
  border: none;
  outline: 0;
}
#search-suggest.baidu {
  width: 550px;
  top: 35px;
  border-radius: 0 0 10px 10px;
  border: 2px solid #4e71f2;
  border-top: 0;
  padding: 8px 0 7px;
  background: #fff;
  z-index: 101;
}
#search-suggest.baidu li {
  position: relative;
  width: auto;
  padding-left: 8px;
  color: #626675;
  line-height: 28px;
  background: 0 0;
  font-family: Arial,sans-serif;
  cursor: pointer;
}
#search-suggest.baidu li:hover {
  background-color: #f5f6f9;
  color: #315efb;
}
#search-suggest.baidu li:first-child {
  padding-top: 8px;
  border-top: 2px solid #f5f5f6;
}
/* bing */
#nav-bing input {
  background-color: transparent;
  padding: 12px 10px 12px 20px;
  border: 0;
  flex: 1;
  outline: none;
  font-size: 1.125rem;
  font: inherit;
  min-width: 300px;
  color: #000;
}
#nav-bing #logo {
  width: 154px;
  height: 24px;
  transform: translate(0,12px) scale(1.66);
  background-image: url(../img/bing_logo.svg);
  margin: 0 auto;
  margin-bottom: 38px;
}
#nav-bing .search-box {
  width: 100%;
  max-width: 596px;
  background-color: transparent;
  font: normal 1rem "Segoe UI",Arial,Helvetica,Sans-Serif;
  padding-right: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,.3);
  align-items: center;
  justify-content: flex-end;
  display: flex;
  border-radius: 24px;
  position: relative;
  background-color: #fff;
  margin: 0 auto;
}
#nav-bing.sug-show .search-box {
  border-radius: 24px 24px 0 0;
}
#nav-bing .search-icon {
  width: 24px;
}
#search-suggest.bing {
  top: 100%;
  padding-left: 0px;
  border-radius: 0px 0px 24px 24px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px, rgba(0, 0, 0, 0.18) 0px 2px 4px 1px;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  z-index: 1111;
}
#search-suggest.bing li {
  display: flex;
  cursor: pointer;
}
#search-suggest.bing li:hover {
  background-color: #ececec;
}
#search-suggest.bing .suggest-icon {
  margin-left: 8px;
  margin-right: 7px;
  height: 32px;
  width: 32px;
  line-height: 32px;
  text-align: center;
  display: flex;
  justify-content: center;
}
/* mobile */
@media (max-width: 768px) {
  /* google */
  #nav-google .search-box {
    display: flex;
    width: auto;
  }
  #search-suggest.google li .suggest-icon {
    height: 28px;
    line-height: 28px;
  }
  /* baidu */
  #nav-baidu .search-box {
    display: flex;
    width: auto;
  }
  #nav-baidu .search-input {
    flex: 1;
  }
  #nav-baidu .search-input input {
    width: calc(100% - 32px);
  }
  #search-suggest.baidu {
    width: 100%;
    top: 44px;
    z-index: 99;
    border-color: transparent;
  }
  #search-suggest.baidu li {
    padding-left: 16px;
  }
  #search-suggest.baidu li::before {
    content: "\f002";
    position: absolute;
    left: 0px;
    top: 5px;
    font-family: "Font Awesome 6 Free";
    -webkit-font-smoothing: antialiased;
    display: var(--fa-display,inline-block);
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto;
    font-weight: 900;
  }
  #search-suggest.baidu li:first-child {
    padding-top: 0;
    border-top: none;
  }
}
