html,
body {
  width: 100%;
  height: 100%;
}
p,
form,
ol,
ul,
li,
dl,
dt,
dd,
h3 {
  list-style: none;
}
a {
  cursor: pointer;
}
ul {
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  width: 14px;
  height: 14px;
}
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-track {
  border-radius: 999px;
  border: 5px solid transparent;
}
::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 0 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.2) inset;
}
header {
  height: 56px;
  padding: 8px 15px;
}
footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
}
svg {
  fill: currentColor;
}
.py-12 {
  padding-top: 12px;
  padding-bottom: 12px;
}
.sorting {
  opacity: 0.3;
}
.github-icon,
.app-icon {
  color: #5f6368;
  vertical-align: middle;
  height: 40px;
  width: 40px;
  line-height: normal;
}
.app-icon {
  border-radius: 50%;
}
.app-icon:hover {
  background-color: rgba(60, 64, 67, 0.08);
}
.github-icon:hover {
  color: #1984ff;
}
.dropdown-menu {
  min-width: 6rem;
  box-shadow: 0 2px 8px 1px rgba(64, 60, 67, 0.24);
}
.search-icon {
  background-image: url(../img/search_icon.svg);
  background-repeat: no-repeat;
  background-position: 50%, 50%;
}
.baidu-logo {
  background-image: url(../img/baidu_logo.svg);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 50%, 50%;
}
.bing-logo {
  background-image: url(../img/bing_logo.svg);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 50%, 50%;
}
.google-logo {
  background-image: url(../img/google_logo.svg);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 50%, 50%;
}
.search {
  margin: auto;
  padding-top: 56px;
  transition: 0.5s all;
}
.search .current {
  display: block;
  width: 44px;
  height: 44px;
  cursor: pointer;
}
.search input {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 100;
  background-color: transparent;
  border: 0;
  flex: 1;
  outline: none;
  font: inherit;
  color: #000;
}
.search .logo {
  height: 56px;
}
.search .search-box {
  width: 100%;
  max-width: 596px;
  background-color: transparent;
  font: normal 1rem "Segoe UI", Arial, Helvetica, Sans-Serif;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 24px;
  position: relative;
  margin: 0 auto;
  transition: 0.5s all;
}
.search .search-box:hover {
  box-shadow: 0 2px 8px 1px rgba(64, 60, 67, 0.24);
  border-color: rgba(223, 225, 229, 0);
}
.search.sug-show .search-box {
  border-radius: 24px 24px 0 0;
}
.search .search-icon {
  display: block;
  width: 44px;
  height: 44px;
  cursor: pointer;
}
.search-suggestions {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  z-index: 99;
  max-height: 0px;
  opacity: 0;
  transition: 0.5s all;
}
.sug-show .search-suggestions {
  max-height: 480px;
  opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px,
    rgba(0, 0, 0, 0.18) 0px 2px 4px 1px;
}
.search-suggestions {
  padding-left: 0px;
  border-radius: 0px 0px 24px 24px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: rgb(255, 255, 255);
}
.search-suggestions li {
  position: relative;
  display: flex;
  align-items: center;
  line-height: 32px;
  cursor: pointer;
  animation: moveIn ease-in-out 0.5s;
}
.search-suggestions li:hover {
  background-color: #20212419;
}
.search-suggestions .suggest-icon {
  width: 24px;
  min-width: 24px;
  height: 24px;
  margin-left: 18px;
  transform: scale(0.8);
}
.search-suggestions .logo {
  position: absolute;
  right: 10px;
  top: 8px;
  width: 16px;
  height: 16px;
  background-size: 16px;
}
.search-suggestions .inner-text {
  flex-grow: 1;
  overflow: hidden;
  margin-inline-end: 34px;
  margin-inline-start: 8px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.bookmark {
  max-width: 600px;
  min-height: 70px;
  margin: 0 auto;
  border-radius: 10px;
}
.bookmark.edit {
  background-color: #f8f9fa;
}
.bookmark .add-bookmark {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 26px;
  color: #aaa;
  border-radius: 50%;
  border: 1px dashed #aaa;
  cursor: pointer;
  font-weight: 500;
  display: none;
}
.bookmark .item {
  position: relative;
  cursor: pointer;
  display: block;
  width: 32px;
  height: 32px;
  color: black;
  border-radius: 25%;
}
.bookmark .item::after {
  content: attr(data-title);
  font-size: 12px;
  position: absolute;
  left: 50%;
  bottom: -18px;
  white-space: nowrap;
  transform: translateX(-50%);
}
.bookmark .add-bookmark:hover,
.bookmark .item:hover {
  color: #1984ff;
}
.bookmark .item,
.bookmark .add-bookmark {
  margin: 20px;
}
.bookmark.edit .add-bookmark {
  display: block;
}
.bookmark .item .close-icon {
  position: absolute;
  top: -15px;
  right: -20px;
  z-index: 1;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  line-height: 15px;
  font-size: 12px;
  text-align: center;
  color: white;
  background-color: #ddd;
  display: none;
}
.bookmark.edit .item .close-icon {
  display: block;
}
.bookmark .item .favicon {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}
.bookmark .item .favicon::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #ccc;
  border-radius: inherit;
}
.bookmark .item .favicon::after {
  content: attr(alt);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: black;
}
contextmenu {
  position: fixed;
  display: none;
  box-shadow: #919aa5 1px 1px 2px 0px;
  padding: 8px 0px;
  border: 1px solid rgba(233, 236, 239, 0.8);
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.6);
}
contextmenu li {
  padding: 8px;
  cursor: pointer;
}
contextmenu li:hover {
  background-color: rgba(60, 64, 67, 0.08);
}
@media (max-width: 768px) {
  .search {
    padding-top: 0;
  }
  .sug-show .search-suggestions {
    max-height: 288px;
    opacity: 1;
  }
  .modal-header {
    padding: 0.5rem 1rem;
  }
  .modal-body {
    padding: 0.5rem 1rem;
  }
  .modal-footer {
    padding: 0.5rem 1rem;
  }
  contextmenu {
    font-size: 0.5rem;
  }
}
@keyframes moveIn {
  from {
    padding-right: 100%;
    opacity: 0;
  }
  to {
    padding-right: 0%;
    opacity: 1;
  }
}
