html,body {
  width: 100%;
  height: 100%;
}
p, form, ol, ul, li, dl, dt, dd, h3 {
  list-style: none;
}
a {
  cursor: pointer;
}
ul {
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  width: 14px;
  height: 14px;
}
::-webkit-scrollbar-thumb, ::-webkit-scrollbar-track {
  border-radius: 999px;
  border: 5px solid transparent;
}
::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 0 5px rgba(0,0,0,.2);
  -webkit-box-shadow: 0 0 0 5px rgba(0,0,0,.2) inset;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 8px 15px;
}
footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
}
.flow {
  background-image: url(../img/wave.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
}
.copyright {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
.contact, .drawer-icon {
  padding: 8px;
}
.drawer-icon {
  display: flex;
  border-radius: 50%;
}
.drawer-icon:hover {
  background-color: rgba(60,64,67,.08);
}
.dropdown-menu {
  min-width: 6rem;
}
.search-icon {
  background-image: url(../img/search_icon.svg);
  background-repeat: no-repeat;
}
.baidu-logo {
  background-image: url(../img/baidu_logo.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.bing-logo {
  background-image: url(../img/bing_logo.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.google-logo {
  background-image: url(../img/google_logo.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.integrated-search {
  height: 180px;
  margin: auto;
  padding-top: 56px;
  transition: 0.5s all;
}
.integrated-search #currentEngine {
  display: block;
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: 1s all;
}
.integrated-search input {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 100;
  background-color: transparent;
  padding: 12px 10px 12px 12px;
  border: 0;
  flex: 1;
  outline: none;
  font: inherit;
  color: #000;
}
.integrated-search .logo {
  height: 56px;
}
.integrated-search .search-box {
  width: 100%;
  max-width: 596px;
  background-color: transparent;
  font: normal 1rem "Segoe UI",Arial,Helvetica,Sans-Serif;
  box-shadow: 0 2px 4px rgba(0,0,0,.3);
  align-items: center;
  justify-content: flex-end;
  display: flex;
  border-radius: 24px;
  position: relative;
  background-color: #fff;
  margin: 0 auto;
  transition: 0.5s all;
}
.integrated-search .search-box:hover {
  box-shadow: 0 2px 8px 1px rgba(64,60,67,.24);
  border-color: rgba(223,225,229,0);
}
.integrated-search.sug-show .search-box {
  border-radius: 24px 24px 0 0;
}
.integrated-search .search-icon {
  width: 24px;
  height: 24px;
  min-width: 24px;
  cursor: pointer;
}
.search-suggestions {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  z-index: 99;
  max-height: 0px;
  opacity: 0;
  transition: 0.5s all;
}
.sug-show .search-suggestions {
  max-height: 480px;
  opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px, rgba(0, 0, 0, 0.18) 0px 2px 4px 1px;
}
.search-suggestions {
  padding-left: 0px;
  border-radius: 0px 0px 24px 24px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: rgb(255, 255, 255);
}
.search-suggestions li {
  position: relative;
  display: flex;
  align-items: center;
  line-height: 32px;
  cursor: pointer;
  animation: moveIn ease-in-out 0.5s;
}
.search-suggestions li:hover {
  background-color: #20212419;
}
.search-suggestions .suggest-icon {
  margin-left: 13px;
  transform: scale(0.8);
}
.search-suggestions #logo {
  position: absolute;
  right: 10px;
  top: 8px;
  width: 16px;
  height: 16px;
}
.search-suggestions #innerText {
  flex-grow: 1;
  overflow: hidden;
  margin-inline-end: 34px;
  margin-inline-start: 8px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@media (max-width: 768px) {
  .integrated-search {
    padding-top: 0;
  }
  .sug-show .search-suggestions {
    max-height: 288px;
    opacity: 1;
  }
}
@keyframes moveIn {
  from {
    padding-right: 100%;
    opacity: 0;
  }
  to {
    padding-right: 0%;
    opacity: 1;
  }
}
